<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">Ir al login</a>
    </li>
    <li>
        <a routerLink="/auth/register">Ir al Registro</a>
    </li>
    <li>
        <a routerLink="/heroes/listado">Ir al Listado de Heroes</a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">Ir a agregar Heroes</a>
    </li>
    <li>
        <a routerLink="/heroes/editar/:id">Ir a editar Heroes</a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">Ir a buscar Heroes</a>
    </li>
    <li>
        <a routerLink="/heroes/:id">Ir a un Heroe</a>
    </li>
</ul>
